<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find By Base Experience Form</title>
    <link th:href="@{/form.css}" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Find Pokémon By Base Experience Form</h1>
<div class="buttonBox">
    <button onclick="location.href = '/'">Back To Homepage</button>
</div>
<div class="box">
    <form action="#" th:action="@{/client/pokemon/find/baseExperience}" th:object="${pokemon}" method="POST">
        <label for="pokemonBaseExperience">Base Experience:</label>
        <input type="number" id="pokemonBaseExperience" name="pokemonBaseExperience" th:field="*{baseExperience}"/>
        <input type="submit" id="submit" value="Submit">
    </form>
</div>
</body>
</html>